{% extends 'base.html.twig' %}
{% block body %}
<div class='background_blure'>
</div>
<div class='clyde_message_enther'>
    <p class='clyde_message'>
        1101000010111111110100...
        Чтобы начать выбери одно из двух !...
    </p>
</div>
<div class='form_enther'>
    <a class='enther_button' href='sign-in'>ВХОД</a>
    <a class='register_button' href='sign-up'>РЕГИСТРАЦИЯ</a>
</div>
{% endblock %}